body {
  background-color: #000;
  /* background-image: url("img/background.png");
  background-size: cover; */
  font-family: Avenir Next;
  font-style: italic;
  color: #aaa;
}

a {
  color: #fff;
}

.container {
  padding-left: 40px;
  padding-top: 40px;
}

.header-container {
  margin-bottom: 60px;
}

.header-element {
  float: left;
  margin-right: 20px;
  font-size: 2vw;
}

.textlist-container {

}

.textlist-element {
  font-size: 4vw;
  margin-bottom: 1vw;
}

.text-container {
  width: 80%;
}

.puzzle-description {
  font-size: 1vw;
  color: #666;
}

.puzzle-container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.puzzle-div {
  position: absolute;
}

.puzzle-img {
  pointer-events: none;
}

.archive-image {
  width: 200px;
  float: left;
  margin: 2px;
}
