h1, h2, h3, p {
  font-weight: lighter;
}

a {
  color: #fff;
}

@media (max-width: 600px) {
  .responsive-desktop {
    display: none !important;
  }
}
@media (min-width: 600px) {
  .responsive-mobile {
    display: none !important;
  }
}
